.header {
	position: relative;
	width: 100%;
	background-color: var(--white);
	padding: 0 var(--standart-side-padding);
	z-index: 2;
}

.header__wrap {
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;

	padding: 24px 0;
}

.header__title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 115px;
	height: 20px;
	z-index: 1;
}

.header__logo-icon {
	width: 115px;
	height: 20px;
}
