.header {
	position: relative;
	z-index: 2;
	padding: 0 var(--standart-side-padding);
	width: 100%;
	background-color: var(--white);
}

.header__wrap {
	display: grid;
	align-items: center;
	grid-template-columns: max-content 1fr;
	padding: 24px 0;
}

.header__title {
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 115px;
	height: 20px;
}

.header__logo-icon {
	width: 115px;
	height: 20px;
}
