@import '../variables/width-variables';

.search {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all ease 0.4s;

	&:hover > .search__input,
	&:focus-within > .search__input {
		width: 160px;
		opacity: 1;
	}
}

.search__input {
	border: 1px solid var(--dark);
	border-radius: 5px;
	padding: 5px 8px;
	width: 0;
	height: 100%;
	opacity: 0;
	transition: all ease 0.6s;
	pointer-events: 0;

	@media (max-width: $tablet-width) {
		width: 160px;
		opacity: 1;
		pointer-events: all;
	}
}

.search__icon {
	width: 24px;
	height: 24px;
	fill: var(--dark);
}
