@import '../../variables/width-variables';

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: flex-end;
	gap: 48px;

	@media (max-width: $tablet-width) {
		position: absolute;
		left: 0;
		right: 0;
		top: -350%;
		flex-direction: column;
		transition: all 0.5s ease-in;
	}
}

.nav--open {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	justify-content: center;
	padding: 40px 20px;
	box-shadow: 0 0 10px rgb(000 000 000 / 60%);
	background-color: var(--white);
	transition: all 0.5s ease;

	& .nav__list {
		opacity: 1;
		transition: all 0.5s ease;
		pointer-events: all;
	}

	& .nav__search {
		opacity: 1;
		transition: all 0.5s ease;
		pointer-events: all;
	}
}

.nav__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	gap: 48px;

	@media (max-width: $tablet-width) {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		opacity: 0;
		transition: all 0.5s ease;
		pointer-events: none;
	}
}

.nav__link {
	text-decoration: none;
	color: var(--dark);
}

.nav__search {
	@media (max-width: $tablet-width) {
		opacity: 0;
		pointer-events: none;
	}
}
