:root {
	--heading-font-family: 'Montserrat', 'arial', sans-serif;
	--paragraph-font-family: 'Inter', 'arial', sans-serif;
	--heading-basic-font-weight: 500;
	--heading-large-font-size: 60px;
	--heading-large-line-height: 70px;
	--heading-medium-font-size: 48px;
	--heading-medium-line-height: 55px;
	--heading-small-font-size: 28px;
	--heading-small-line-height: 32px;
	--paragraph-basic-font-weight: 400;
	--paragraph-large-font-size: 16px;
	--paragraph-large-line-height: 24px;
	--paragraph-medium-font-size: 14px;
	--paragraph-medium-line-height: 21px;
	--paragraph-small-font-size: 12px;
	--paragraph-small-line-height: 18px;
}
